td, th {
    width: 500px;
    padding: 10px;
    background-color: white;
}

tr:first-child th:first-child {
    border-top-left-radius: 25px;
}

tr:first-child th:last-child {
    border-top-right-radius: 25px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 25px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 25px;
}

