@import "OverallStyle.css";

.login-container {
    display: flex;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: var(--recScan-primary-light-color);
    padding: 0px;
}

.image-sidebar {
    width: 40%;
    background: var(--background-image);
    color: white;
    padding: 20px;
    display: flex;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}

.main-content {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:auto;
    flex: 1;
    padding: 40px;
    background-color: var(--recScan-primary-light-color);
}

.introduction p{
    font-size: 2rem;
    font-family: "Georgia";
    color: #333;
}

.form-field {
    margin:10px;
}

.form-field input{
    border-radius: 10px;
    height:40px;
    width: 300px;
}

.form-actions {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.form-action {
    padding:10px;
    display:flex;
}

.submit-btn {
    padding: 6px 30px;
    height: 40px;
    margin:0px
}

#error-msg {
    text-align: center;
    color:red;
    font-size:smaller;
}