@import "OverallStyle.css";

h1{
    align-self:flex-start;
}

div.content{
    display: flex;
    width:stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}

div.BoxOfRows{
    display: flex;
    width:stretch;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

div.PrimarySearchParameterBox{
}

div.AdvancedSearchParameterBox {
    width:fit-content
}

button.collapseHeader {
    flex-grow:1;
    border-style: solid;
    width:stretch;
    background-color:var(--recScan-primary-light-color);
    margin-top:3vh;
    border-radius:1.5vh 1.5vh 0.3vh 0.3vh;
    padding-left:2vh;
    text-align: left;
}

button.collapseHeader:hover, button.collapseHeader.active{
    background-color: rgba(from var(--recScan-fourth-color) r g b / 0.2);
}

div.AdvancedSearchContents{
    hidden: true;
    background:hsl(from var(--recScan-primary-light-color) h s 90%);
    border-radius:0.3vh 0.3vh 1.5vh 1.5vh;
    padding:3vh 1.5vh 2vh 1.5vh;
    display:grid;
    grid-template-columns: 1fr 20vh;
    grid-row-gap: 3vh;
    grid-column-gap: 0vh;
}

div.PMLabel{
    text-align:Right;
    font-size: 2.5vh;
}

.PMCounter {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}

.PMElem{
    padding:0.2vh;
    margin: 0vh 0.5vh 0vh 0.5vh;
}


button.PMButton, .PMVal{
    height:4vh;
    flex-grow:0;
    text-align: center;
}

button.PMButton{
    flex-grow:0;
    flex-shrink:0;
    height:4vh;
    width:4vh;
    aspect-ratio: 1/1;

    font-size:3.5vh;
    line-height:0;
    background-color:var(--recScan-third-color);
    border-radius: 5vh;
    border:none;
}

button.PMButton:hover, button.PMButton.active{
    background-color: rgba(from var(--recScan-third-color) r g b / 0.7);
}

.PMVal{
    width:8.5vh;
    background-color: hsl(from var(--recScan-primary-light-color) h s 98%);
    border-radius:0.5vh;
    line-height:3.4vh;
    font-size:3vh;
}

button.search{
    width: 35vh;
    margin:6vh;
    padding:0.5vh;
    border-radius:2.5vh;

    font-size:3vh;
    color:white;
    background-color: var(--recScan-fourth-color);
    border-color: hsl(from var(--recScan-fourth-color) h s 60);
    border-width:1vh;
}

button.search::onClick {
    border-color: hsl(from var(--recScan-fourth-color) h s 40);
}
/*
*/