/* Layout container */
.layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5; 
}

/* Sidebar*/
.sidebar {
  width: 300px;
  background: linear-gradient(135deg, #8b4fb3, #e00000, #f7950c, #0028f3);
  color: white; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,0,0,0.1);
}

/* Sidebar title */
.sidebar-title {
  font-family: 'Georgia, 'Times New Roman', Times, serif';
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: white;
  text-shadow: 0 4px 4px rgba(0,0,0,0.6);
  margin: 0;
}

/* Navigation links container */
.navigation-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

/* Individual links*/
.navigation-item {
  text-decoration: none;
  color: white;
  padding: 10px 14px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.2s;
  font-weight: 500;
  font-size: large;
}

.navigation-item:hover {
  background-color: rgba(255, 255, 255, 0.2); 
  transform: translateX(4px);
}

.navigation-item.active {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.navigation-links-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main content area */
.content {
  flex: 1;
  padding: 40px;
  background-color: #f0f2f5; 
}

.content h1 {
  font-size: 2rem;
 font-family: "Georgia";
  color: #333;
}

.content p {
  font-size: 1rem;
  color: #555;
  margin-top: 40px;
}

/* Date pickers container */
.date-pickers {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.date-pickers label {
  font-weight: 500;
  color: #333;
}

.date-pickers input[type="date"] {
  margin-left: 8px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Chart */
.chart {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Display Button */

.display-btn {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  background-color: #405de6;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
  margin-left: 20px;
}

.display-btn:hover {
  background-color: #833ab4;
  transform: translateY(-2px);
}

.chart {
  width: 100%;
  height: 700px; 
  margin-top: 20px;
  position: relative; 
}

.signout-container {
  margin-top: auto; 
}