@import "OverallStyle.css";

/* Layout container */
.layout {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: var(--recScan-primary-light-color);
}

/* Main content area */
.content {
  flex: 1;
  padding: 40px;
  background-color: var(--recScan-primary-light-color);
}

.content h1 {
  font-size: 2rem;
 font-family: "Georgia";
  color: #333;
}

.content p {
  font-size: 1rem;
  color: #555;
  margin-top: 40px;
}

/* Date pickers container */
.date-pickers {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.date-pickers label {
  font-weight: 500;
  color: #333;
}

.date-pickers input[type="date"] {
  margin-left: 8px;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

/* Chart */
.chart {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 100%;
  height: 700px;
  margin-top: 20px;
  position: relative;
}

.signout-container {
  margin-top: auto;
}